<h1>3. Tipo de empleado</h1>

<%= render 'form' %>

<% if @employee.errors.any? %>
	<ul>
		<% for message_error in @employee.errors.full_messages %>
		<li>- <%= message_error %></li>
		<% end %>
	</ul>
<% end %>
