<% content_for = "Sign Up" %>

<div class="hero-unit">
	<h1>Registro de nueva persona</h1>

	<%= render 'form' %>

	<% if @person.errors.any? %>
		<ul>
			<% for message_error in @person.errors.full_messages %>
				<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>