<h1>2. Registro del papá.</h1>

<%= render 'reg_dad_form' %>

<%= link_to "Omitir", :controller => "people", :action => "regmomnew" %>

<% if @person.errors.any? %>
	<ul>
		<% for message_error in @person.errors.full_messages %>
			<li>- <%= message_error %></li>
		<% end %>
	</ul>
<% end %>