<h1>2. Registro del empleado.</h1>

<%= render 'reg_employee_form' %>

<% if @person.errors.any? %>
	<ul>
		<% for message_error in @person.errors.full_messages %>
			<li>- <%= message_error %></li>
		<% end %>
	</ul>
<% end %>