<h1>3. Registro de la mamá.</h1>

<%= render 'reg_mom_form' %>

<%= link_to "Omitir", :controller => "students", :action => "regnew" %>

<% if @person.errors.any? %>
	<ul>
		<% for message_error in @person.errors.full_messages %>
			<li>- <%= message_error %></li>
		<% end %>
	</ul>
<% end %>