	<h1>Registro de nuevo ciclo escolar</h1>

	<%= render 'form' %>

	<% if @schoolyear.errors.any? %>
		<ul>
			<% for message_error in @schoolyear.errors.full_messages %>
			<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
