<h1>Tomar asistencia
	<% if @groupSet %>
		para el grupo <%= @classi.group.name %>
	<% end %>
</h1>

<%= render 'form' %>

<% if @classi.errors.any? %>
	<ul>
		<% for message_error in @classi.errors.full_messages %>
		<li>- <%= message_error %></li>
		<% end %>
	</ul>
<% end %>
