	<h1>Registro de nuevo gasto</h1>

	<%= render 'form' %>

	<% if @expense.errors.any? %>
		<ul>
			<% for message_error in @expense.errors.full_messages %>
			<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
