	<h1>Registro de nuevo cargo</h1>

	<%= render 'formGroups' %>

	<% if @charge.errors.any? %>
		<ul>
			<% for message_error in @charge.errors.full_messages %>
			<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
